* {
  box-sizing: border-box;
}

body {
 	background-image: url(https://i.imgur.com/AKWiqSL.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    margin: 0px;
}

#legend, #New-Game, #instructions{
    background-color: rgba(255,255,255, .5); 
    padding: 10px;
}

.Login-Error{
    font-weight: bold;
}

.card-header{
    font-weight: bold;
}

.nav, .pagination, .carousel, .panel-title a { 
    cursor: pointer; 
}

.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
