<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#!/"><img src="/logo.png" width="150" height="50" alt=""></a>
</nav>
<br>
<div class='container'>
    <div class='row'>
        <form ng-submit='submitLogin()'>
            <h2>Please enter your username and password below</h2>
            <div class="col-sm">
                <label for='user-input'>Username</label>
            </div>    
            <div class="col-sm">
                <input type='text' ng-model='username'><br>
            </div>
            <div class="col-sm">
                <label for='password-input'> Password</label>
            </div>
            <div class="col-sm">
                <input type='password' ng-model='password'><br>
            </div>
            <br>
            <button type='submit' class='login-button btn btn-dark' role='button'>Login</button>
            <a href='#!/' class='btn btn-dark'role='button'>Back to the Main Page</a>
            <section class='Login-Error line-1'>{{loginError1}}</section>
            <section class='Login-Error line-2'>{{loginError2}}</section>
        </form>
    </div>
</div>

<footer class='footer'>
    <div class='container'>
        <span>For a Demo Account use the Username 'DemoUser' and Password 'testpassword'</span>
    </div>
</footer>