<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#!/home">Game Room</a>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#!/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/myGames">My Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/search">Search Games</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#!/logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div ng-hide="emptyRoom">
    <div class="room">
            <div id="filters">
                <span id="searchName"><label for="searchBox">Search by Name:</label>
                <input type="text" ng-model="searchText" id="searchBox"/></span>
                
                <span id="searchNumber"><label for="searchBox">Search by Number of Players:</label>
                <input type="number" ng-model="searchRange" id="searchBox"/></span>
            </div>

            <div id="games">
                <div class="row">
                    <div class="col-sm-4" ng-repeat="game in gamelist">
                        <div class="card">
                            <div class="card-body">
                                    <h5 class="card-title">{{game.name}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{game.minPlayers}}-{{game.maxPlayers}} Players Ages {{game.age}} and up</h6>
                                    <p class="card-text" >{{game.qualities}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div ng-show="emptyRoom">
        You don't have any games on your shelf yet. You should click on 'Search Games' above and fix that.
</div>