<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#!/"><img src="/logo.png" width="150" height="50" alt=""></a>
</nav>
<br>
<div id='login' class='container'>
    <div class='row'>
        <form ng-submit='submitCreate()'>
            <h2>Please create a username and password below</h2>
            <div class="col-sm">
                <label for="user-create">Create a username:</label>
            </div>
            <div class="col-sm">
                <input type="text" id="user-create" ng-model="userCreate"><br>
            </div>
            <div class="col-sm">
                <label for="password-create"> Create a password:</label>
            </div>
            <div class="col-sm">
                <input type="password" id="password-create" ng-model="passwordCreate"><br>
            </div>
            <div class="col-sm">
                <label for="password-confirm"> Confirm password:</label>
            </div>
            <div class="col-sm">
                <input type="password" id="password-confirm" ng-model="passwordConfirm"><br>
            </div>
            <br>
            <button type="submit" class="create-button btn btn-dark" role='button'>Create your Account</button>
            <a href='#!/' class='btn btn-dark' role='button'>Back to the Main Page</a>
            <section class="Create-Error">{{loginError}}{{createError}}</section>
        </form>
    </div>
</div>