<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#!/home"><img src="/logo.png" width="150" height="50" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#!/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/myGames">My Games</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#!/search">Search Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/newGame">Add a Game</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/logout">Log out</a>
            </li>
            </ul>
        </div>
    </nav>
</header>

<div id="filters" class='container'>
    <label for="gamesPerPage">Games Per Page:</label>
    <select id="gamesPerPage" ng-model="gamesPerPage">
        <option ng-value="3">3</option>
        <option ng-value="6">6</option>
        <option ng-value="12">12</option>
    </select>

    <span id="searchName"><label for="searchBox1">Search by Name:</label>
    <input type="text" ng-model="gameNameSearch" id="searchBox1"/></span>
</div>
<br>
<div id="games" class='container'>
    <div class="row">
        <div class="col-sm-4" ng-repeat="game in filteredGames.slice(((currentPage-1)*gamesPerPage), ((currentPage)*gamesPerPage))|filter:{name: gameNameSearch}|limitTo:gamesPerPage">
            <div class="card bg-light mb-3">
                <div class="card-header">{{game.name}}</div>
                <div class="card-body">
                    <h6 class="card-title">{{game.minPlayers}}-{{game.maxPlayers}} Players Ages {{game.age}} and up</h6>
                    <p class="card-text" ng-repeat="quality in game.qualities" style="float:left">
                        <img class="qualicon" ng-src="{{quality}}"/>
                    </p>
                    <br>
                    <br>
                    <br>
                    <p class="card-text">
                        Time to play: {{game.time}} minutes
                    </p>
                    <button type="button" ng-click="shelveGame(game.id)" class="btn btn-dark">Add to my Room</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pagination" class='container'>
    <ul uib-pagination items-per-page="gamesPerPage" boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>

<div id="legend" class='container'>
    <div class="container">
        <h5>Legend:</h5>
        <div class="row">
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/bluffing.png"/>= Bluffing
            </div>
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/cooperative.png"/>= Co-op
            </div>
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/deck_building.png"/>= Deck Building
            </div>
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/dice.png"/>= Uses Dice
            </div>
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/party.png"/>= Party
            </div>
        </div>
        <div class="row">
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/set_collecting.png"/>= Set Collecting
            </div>
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/token_movement.png"/>= Token Movement
            </div>
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/token_placement.png"/>= Token Placement
            </div>
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/trivia.png"/>= Trivia
            </div>
            <div class="col-sm" id="legIcon">
                <img class="qualicon" ng-src="/icons/expansion.png"/>= Expansion
            </div>
        </div>
    </div>
</div>